django==4.2.1
django[bcrypt]==4.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.6.0

click==8.0.3
psycopg2-binary==2.9.3
requests==2.27.1
untangle==1.1.1
arrow==1.2.2
nested_lookup==0.2.23
cpe==1.2.1

celery==5.2.3
redis==4.1.4
deepdiff==5.7.0

beautifulsoup4==4.11.1

lxml==4.9.2
pydantic==1.10.4
