{% extends "base.html" %}
{% load opencve_extras %}
{% load crispy_forms_tags %}

{% block content %}

<section class="content-header">
    <h1>
        Last CVE Updates
        {% if user.settings.activities_view == 'subscriptions' %}
        <small class="label label-default"><i class="fa fa-filter"></i> subscriptions</small>
        {% endif %}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">OpenCVE</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-8">
            {% if not changes %}
            <p class="alert alert-info">No changes available.</p>
            {% else %}
            <ul class="timeline">
                {% for change in changes %}
                <li class="time-label">
                    {% ifchanged change.created_at|date:"d b Y" %}
                    <span class="bg-blue bg-opencve">
                        {{ change.created_at|date:"d b Y" }}
                    </span>
                    {% endifchanged %}
                </li>

                <li>
                    {% if change.events.all|is_new_cve %}
                    <i class="fa fa-plus bg-red"></i>
                    {% else %}
                    <i class="fa fa-edit bg-blue"></i>
                    {% endif %}
                    <div class="timeline-item">
                        <span class="time" title="{{ change.created_at|date:'d b Y, H:i' }}"><i class="fa fa-clock-o"></i> {{ change.created_at|date:"H:i" }}</span>
                        <h3 class="timeline-header"><a href="{% url 'cve' cve_id=change.cve.cve_id %}">{{ change.cve.cve_id }}</a> {% if change.events.all|is_new_cve %}is a new CVE{% else %}has changed{% endif %} <a href="{% url 'change' cve_id=change.cve.cve_id id=change.id %}" class="btn-json-diff" data-toggle="tooltip" data-container="body" title="View the change details"><i class="fa fa-code"></i></a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <p>{{ change.cve.summary }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="no-bordered">CVSS v3</td>
                                                {% if change.cve.json.impact.baseMetricV3 %}
                                                <td class="no-bordered"><span class="label {{ change.cve.json.impact.baseMetricV3.cvssV3.baseScore|cvss_label }} label-cvss">{{ change.cve.json.impact.baseMetricV3.cvssV3.baseScore }} {{ change.cve.json.impact.baseMetricV3.cvssV3.baseSeverity }}</span></td>
                                                {% else %}
                                                <td>--</td>
                                                {% endif%}
                                            </tr>
                                            <tr>
                                                <td>CVSS v2</td>
                                                {% if change.cve.json.impact.baseMetricV2 %}
                                                <td><span class="label {{ change.cve.json.impact.baseMetricV2.cvssV2.baseScore|cvss_label }} label-cvss">{{ change.cve.json.impact.baseMetricV2.cvssV2.baseScore }} {{ change.cve.json.impact.baseMetricV2.severity }}</span></td>
                                                {% else %}
                                                <td>--</td>
                                                {% endif%}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% if not change.events.all|is_new_cve %}
                            <div class="box-group" id="{{ change.id }}">
                                {% for event in change.events.all %}
                                <div class="panel box box-changes">
                                    <div class="box-header collapsed pointer change-collapsed" data-toggle="collapse" data-parent="#{{ change.id }}" href="#{{ event.id }}" aria-expanded="false">
                                        <h4 class="box-title">{{ event.get_type_display }}
                                        <span class="box-meta">{{ event.details|event_excerpt|safe }}<i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-up"></i></span>
                                        </h4>
                                    </div>
                                    <div id="{{ event.id }}" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table class="table">
                                                <thead>
                                                <th>Values Removed</th>
                                                <th>Values Added</th>
                                                </thead>
                                                <tbody>
                                                    {% with template_name="changes/events/"|add:event.type|add:"_details.html" %}
                                                    {% include template_name with hide_type="true" %}
                                                    {% endwith %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <table class="table no-margin-bottom">
                                <thead>
                                    <th>Vendors</th>
                                    <th>Products</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ change.cve.vendors|vendors_excerpt|safe|default:'--' }}</td>
                                        <td>{{ change.cve.vendors|products_excerpt|safe|default:'--' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
            {% endif %}

            {% if changes %}
            <div class="center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="previous"><a href="{% url 'home'%}?{% query_params_url 'page' page_obj.previous_page_number %}">« prev </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="previous"><a href="{% url 'home'%}?{% query_params_url 'page' page_obj.next_page_number %}">next »</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">Dashboard Options</div>
                </div>
                <div class="box-body">
                    {% crispy form %}
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">Subscriptions</div>
                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="#" data-toggle="tooltip" data-container="body" data-placement="left" title="Manage your subscriptions"><i class="fa fa-gears"></i></a>
                    </div>
                </div>
                <div class="box-body box-subscriptions">
                    {% if vendors or products %}
                        {% if vendors %}
                        <h5><strong>Vendors <span>({{ vendors|length }})</span></strong></h5>
                        {% for vendor in vendors %}
                        <a class="label label-primary" href="{% url 'cves' %}?vendor={{ vendor.vendor_name }}">{{ vendor.vendor_name| humanize }}</a>
                        {% endfor %}

                        {% if products %}
                        <hr/>
                        {% endif %}
                        {% endif %}
                        {% if products %}
                        <h5><strong>Products <span>({{ products|length }})</span></strong></h5>
                        {% for product in products %}
                        <a class="label label-primary" href="{% url 'cves' %}?vendor={{ product.vendor_name }}&product={{ product.product_name }}">{{ product.product_name | humanize }}</a>
                        {% endfor %}
                        {% endif %}
                    {% else %}
                    <p><i>You don't have any subscriptions yet, explore the list of <a href="{% url 'vendors' %}">Vendors & Products</a> to select some.</i></p>
                    {% endif %}
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tags</h3>
                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" href="{% url 'tags' %}" data-toggle="tooltip" data-container="body" data-placement="left" title="Manage your tags"><i class="fa fa-gears"></i></a>
                    </div>
                </div>
                {% if tags %}
                <div class="box-body tags-list">
                    {% for tag in tags %}
                    <a class="label" href="{% url 'cves' %}?tag={{ tag.name }}" style="background-color: {{ tag.color }};" data-toggle="tooltip" data-container="body" title="{{ tag.description }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock %}